
*{
    -fx-font-family: "Lucida Console";
}

.logo-text{
    -fx-font-size: 15;
    -fx-text-fill: white;
}



.toolbar{
    -fx-border-style: solid;
    -fx-padding: 5;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: black;

}

.bookRentalPanel{
    -fx-font-size: 13;
}
.userViewText{
    /*-fx-padding: 0 20 0 20;*/
}

.progress-bar {
    -fx-background-radius: 2; /* Rounded corners */
    -fx-padding: 2; /* Padding inside the element */
    -fx-border-radius: 2; /* Border radius for rounded borders */
    -fx-border-width: 2; /* Border width */
    -fx-border-color: black; /* Border color */
}

.scroll{
    -fx-border-width: 2 0 0 0; /* Border width */
    -fx-border-color: black; /* Border color */
    -fx-border-style: dashed;
    -fx-padding: 0;
}

